<div class="form-group">
    <label for="name" class="control-label col-sm-2">Name</label>
    <div class="col-sm-10">
        <input id="name" ng-model="area.name" name="name" type="text" style="width:300px" class="form-control" required/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="control-label col-sm-2">Description</label>
    <div class="col-sm-10">
        <input id="description" ng-model="area.description" name="description" type="text" style="width:300px" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="acreage" class="control-label col-sm-2">Acreage [km<sup>2</sup>]</label>
    <div class="col-sm-10">
        <input id="acreage" ng-model="area.acreage" name="acreage" type="text" style="width:300px" class="form-control"/>
    </div>
</div>