<h2>List of all areas</h2>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Acreage</th>
        <th>Description</th>
        <th>Spotted creatures</th>
        <th></th>
    </tr>
    <tr ng-repeat="area in areas">
        <td>{{area.id}}</td>
        <td>{{area.name}}</td>
        <td>{{area.acreage}}</td>     
        <td>{{area.description}}</td>
        <td>
            <span ng-repeat="creature in area.listOfCreatures">{{creature.name}}, </span>
        </td>
            
        <td>
            <a ui-sref="editArea({id:area.id})" class="button">
                <span class="glyphicon glyphicon-edit"></span>
                Update
            </a>
            <a ui-sref="deleteArea({id:area.id})" class="button">
                <span class="glyphicon glyphicon-remove"></span>
                Delete
            </a>
        </td>
    </tr>
</table>
<a href="/creaturehunting-restClient/areas/new" class="button">
    <span class="glyphicon glyphicon-plus"></span>
    New Area
</a>